<!DOCTYPE html>
<html lang="en">
<%- include('../layouts/header'); -%>

  <body style="background-image: url(/img/bg.jpg); background-repeat: no-repeat;">
      <!-- Page Header -->

      <div class="bodyContainer"
        style="height: 65%; width: 66%; background-color: rgb(236, 255, 237); border-radius: 15px; margin-top: 2%;">         
        
        <h1 style="margin: 20px;">Add Student</h1>
        
        <form method="POST" action="/admin/save">
          <div class="form-group">
            <label for="first_name">First Name</label>
            <input type="text" id="first_name" name="first_name" class="form-control" placeholder="First Name" required>
          </div>
          <div class="form-group">
            <label for="last_name">Last Name</label>
            <input type="text" id="last_name" name="last_name" class="form-control"  placeholder="Last Name" required>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="text" id="email" name="email" class="form-control" placeholder="Email" required>
          </div>
          <div class="form-group">
            <label for="phone">Phone</label>
            <input type="text" id="phone" name="phone" class="form-control" placeholder="Phone" required>
          </div>
          <div class="form-group">
            <label for="phone">Address</label>
            <input type="text" id="address" name="address" class="form-control"  placeholder="Address" required>
          </div>
          <div class="form-group">
            <label for="phone">Date Of Birth</label>
            <input type="date" id="dob" name="dob" class="form-control"  placeholder="Date Of Birth" required>
          </div>
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" name="Username" class="form-control"  placeholder="Username" required>
          </div>  
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="Password" class="form-control"  placeholder="Password" required> 
          </div>

          <div class="mt-4">
            <button class="btn btn-primary" type="submit">Save</button> <button class="btn btn-primary" id="canclebtn" style="margin-left: 20px; background-color: red;">Cancle</button>
          </div> 
        </form>

      </div>

      <!-- Main Content -->
      <script>
        // onClick canclebtn button return to admin page
        document.getElementById("canclebtn").onclick = function () {
          location.href = "/admin";
        };

      </script>
      <%- include('../layouts/scripts'); -%>
  </body>

</html>