<div class="container">
    <div class="imgAd">
      <img src="/src/resources/Blue White Modern English Course Facebook Cover (1920 x 900 px).svg" alt="minh">
    </div>       
        <h1>Home page</h1>
        <p>Home page content</p>
    </div>
</div>