<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header'); -%>

  <body>
    <%- include('layouts/navbar'); -%>
      <!-- Page Header -->

      <!-- Main Content -->
        <%- include('layouts/scripts'); -%>
        <%- include('layouts/footer'); -%>
  </body>
</html>