<!-- FILEPATH: /D:/WeDevWebsite/src/resources/views/index.ejs -->
<!-- BEGIN: abpxx6d04wxr -->
<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header'); -%>

  <body>
    <%- include('layouts/navbar'); -%>
      <!-- Page Header -->
      <header class="masthead">
        <img src="/img/Blue White Modern English Course Facebook Cover (1920 x 900 px) (1366 x 400 px).gif" alt="minh"
          style="margin: 0; width: 100%; height: auto;">
      </header>

      <!-- Main Content -->
      <div class="bodyContainer">
        <h1>Minh is here</h1>
        <p>Courses</p>
        <div class="grid-container">
          <!-- Courses List -->
          <div class="course grid-item">
            <h2>IELTS Premium</h2>
            <img src="\img\courses.jpg" alt="">
            <hr> 
            <p>Description of Course 1</p>
            <p>Description of Course 3</p>
          </div>

          <div class="course grid-item">
            <h2>IELTS Golden Pass</h2>
            <img src="\img\courses.jpg" alt="">
            <hr> 
            <p>Description of Course 2</p>
            <p>Description of Course 3</p>             
          </div>

          <div class="course grid-item">
            <h2>TOEIC 4 Skills</h2>
            <img src="\img\courses.jpg" alt="">
            <hr> 
            <p>Description of Course 3</p>
            <p>Minh ddinhj viet gi do</p>
          </div>
          <!-- End of Courses List -->
        </div>

        <hr>

        <h1>Lecture</h1>
        <div class="grid-container">
          <!-- Courses List -->
          <div class="course grid-item">
            <h2>IELTS Premium</h2>
            <img src="\img\courses.jpg" alt="">
            <hr> 
            <p>Description of Course 1</p>
            <p>Description of Course 3</p>
          </div>

          <div class="course grid-item">
            <h2>IELTS Golden Pass</h2>
            <img src="\img\courses.jpg" alt="">
            <hr> 
            <p>Description of Course 2</p>
            <p>Description of Course 3</p>             
          </div>

          <div class="course grid-item">
            <h2>TOEIC 4 Skills</h2>
            <img src="\img\courses.jpg" alt="">
            <hr> 
            <p>Description of Course 3</p>
            <p>Minh ddinhj viet gi do</p>
          </div>
          <!-- End of Courses List -->
        </div>

        <%- include('layouts/scripts'); -%>
  </body>
  <%- include('layouts/footer'); -%>

</html>
<!-- END: abpxx6d04wxr -->