<footer>
    <p class="copyright text-muted">Copyright &copy; WeDev Website 2023</p>
    <p class="copyright text-muted">For help, please contact with us:</p>
    <p class="copyright text-muted">- Mail: wedev@hust.com</p>
    <p class="copyright text-muted">- Phone number: 0827050981</p>
</footer>